{{!-- jokes.hbs --}}
<head>

    <link rel="stylesheet" href="style.css">

</head>

<table style="display: grid; border-collapse: collapse;vertical-align: middle;">
    {{#each jokes}}
    <tr>
        <th></th>
        <th>Setup</th>
        <th>Punchline</th>
    </tr>
    
    <tr>
        <td>{{setup}}</td>
        <td>{{punchline}}</td>
    </tr>
    {{/each}}
</ul>